@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap'); 

/* ------------- 
    Common styles 
------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color : #3A3A3A;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
h1{
    font-size: 52px;
    color: #E02C6D;
}
/*---------------
     Header Area Start  
-------------------*/
header{
    margin-top: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    font-size: 24px;
    color: #3A3A3A;
    font-weight: bold;
}
.navigation{
    display: flex;

}
.navigation li{
    list-style: none;
    margin: 20px;
}
.navigation li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #3A3A3A;
    font-weight: 600;
}
.fas.fa-search{
    font-size: 18px;
}
.fas.fa-cart-plus{
    font-size: 24px;
}
    /* header-banner */ 
    .header-banner{
        display: flex;
        height: 90vh;
    }
    .banner-left , .banner-right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .banner-right{
        background-image: url('../images/Circle design.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner-title{
        font-weight: bold;
        position: relative;
        white-space: nowrap;
        color: transparent;
    }
    .banner-title::after{
        content: 'Start Your Journey';
        position: absolute;
        top: 0;
        left: 0;
        color: #E02C6D;
        animation: typing 5s linear infinite;
    }
        /*----------- Animation  ------------*/
        @keyframes typing {
            0% {
                content: 'S|';
            }
            4% {
                content: 'St|';
            }
            8% {
                content: 'Sta|';
            }
            12% {
                content: 'Star|';
            }
            16% {
                content: 'Start|';
            }
            20% {
                content: 'Start Y|';
            }
            24% {
                content: 'Start Yo|';
            }
            28% {
                content: 'Start You|';
            }
            32% {
                content: 'Start Your|';
            }
            36% {
                content: 'Start Your J|';
            }
            40% {
                content: 'Start Your Jo|';
            }
            44% {
                content: 'Start Your Jou|';
            }
            48% {
                content: 'Start Your Jour|';
            }
            52% {
                content: 'Start Your Journ|';
            }
            56% {
                content: 'Start Your Journe|';
            }
            60% {
                content: 'Start Your Journey|';
            }
            64%,
            82%{
                content: 'Start Your Journey|';
            }83%{
                content: 'Start Your Journe|';
            }
            84%{
                content: 'Start Your Journ|';
            }
            85%{
                content: 'Start Your Jour|';
            }
            86%{
                content: 'Start Your Jou|';
            }
            87%{
                content: 'Start Your Jo|';
            }
            88%{
                content: 'Start Your J|';
            }
            89%{
                content: 'Start Your |';
            }
            90%{
                content: 'Start You|';
            }
            91%{
                content: 'Start Yo|';
            }
            92%{
                content: 'Start Y|';
            }
            93%{
                content: 'Start |';
            }
            94%{
                content: 'Star|';
            }
            95%{
                content: 'Sta|';
            }
            96%{
                content: 'St|';
            }
            97%{
                content: 'S|';
            }
            98%{
                content: '|';
            }
            99%{
                content: '|';
            }
            100%{
                content: '|';
            }

        }
        /*------------ Animation  -----------*/


    .banner-text{
        margin: 16px 0;
        line-height: 24px;
        font-weight: 600;
    }
    .mybutton{
        background: #E02C6D;
        border-radius: 41px;
        padding: 10px 24px;
        border: 1px solid #E02C6D;
        font-weight: bold;
    }
    .mybutton a{
        text-decoration: none;
        color: #fff;
    }
    .fas.fa-arrow-right{
        margin: 0px 8px;
    }



/*---------------
     Header Area End  
-------------------*/