/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap'); 

/* ------------- 
    Common styles start
------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color : #3A3A3A;
    background: #f1f1f1;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
h1{
    font-size: 52px;
    color: #E02C6D;
}
.cart{
    display: none;
}
/* ------------- 
    Common styles End
------------------*/


/*---------------
     Header Area Start  
-------------------*/
header{
    margin-top: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    font-size: 24px;
    color: #3A3A3A;
    font-weight: bold;
}
.navigation{
    display: flex;

}
.navigation li{
    list-style: none;
    margin: 20px;
}
.navigation li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #3A3A3A;
    font-weight: 600;
}
.fas.fa-search{
    font-size: 18px;
}
.fas.fa-cart-plus{
    font-size: 24px;
}
    /*---------- header-banner --------------*/ 
    .header-banner{
        display: flex;
        height: 90vh;
    }
    .banner-left , .banner-right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .banner-right{
        background-image: url('./images/Circle design.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner-title{
        font-weight: bold;
        position: relative;
        white-space: nowrap;
        color: transparent;
    }
    .banner-title::after{
        content: 'Start Your Journey';
        position: absolute;
        top: 0;
        left: 0;
        color: #E02C6D;
        animation: typing 5s linear infinite;
    }
        /*----------- Animation  ------------*/
        @keyframes typing {
            0% {
                content: 'S|';
            }
            4% {
                content: 'St|';
            }
            8% {
                content: 'Sta|';
            }
            12% {
                content: 'Star|';
            }
            16% {
                content: 'Start|';
            }
            20% {
                content: 'Start Y|';
            }
            24% {
                content: 'Start Yo|';
            }
            28% {
                content: 'Start You|';
            }
            32% {
                content: 'Start Your|';
            }
            36% {
                content: 'Start Your J|';
            }
            40% {
                content: 'Start Your Jo|';
            }
            44% {
                content: 'Start Your Jou|';
            }
            48% {
                content: 'Start Your Jour|';
            }
            52% {
                content: 'Start Your Journ|';
            }
            56% {
                content: 'Start Your Journe|';
            }
            60% {
                content: 'Start Your Journey|';
            }
            64%,
            82%{
                content: 'Start Your Journey|';
            }83%{
                content: 'Start Your Journe|';
            }
            84%{
                content: 'Start Your Journ|';
            }
            85%{
                content: 'Start Your Jour|';
            }
            86%{
                content: 'Start Your Jou|';
            }
            87%{
                content: 'Start Your Jo|';
            }
            88%{
                content: 'Start Your J|';
            }
            89%{
                content: 'Start Your |';
            }
            90%{
                content: 'Start You|';
            }
            91%{
                content: 'Start Yo|';
            }
            92%{
                content: 'Start Y|';
            }
            93%{
                content: 'Start |';
            }
            94%{
                content: 'Star|';
            }
            95%{
                content: 'Sta|';
            }
            96%{
                content: 'St|';
            }
            97%{
                content: 'S|';
            }
            98%{
                content: '|';
            }
            99%{
                content: '|';
            }
            100%{
                content: '|';
            }

        }
        /*------------ Animation End -----------*/


    .banner-text{
        margin: 16px 0;
        line-height: 24px;
        font-weight: 600;
    }
    .mybutton{
        background: #E02C6D;
        border-radius: 41px;
        padding: 10px 24px;
        border: 1px solid #E02C6D;
        font-weight: bold;
    }
    .mybutton a{
        text-decoration: none;
        color: #fff;
    }
    .fas.fa-arrow-right{
        margin: 0px 8px;
    }
    /*-------- header-banner end ----------*/

    /*-------- header-bottom start ----------*/
    .header-bottom{
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .sponsor{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        align-items: center;
    }
    .sponsor li{
        list-style: none;
        margin: 20px 0;
    }
    hr{
        border: 0;
        border-bottom: 1px  solid #dddfe2;
    }
    /*-------- header-bottom end ----------*/


/*---------------
     Header Area End  
-------------------*/


/*---------------
     Main Area Start  
-------------------*/
main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 30px;
}

    /*---------- Collection area start ---------- */
    .collection-area h3{
        text-align: center;
        font-size: 28px;
        color: #3A3A3A;
        margin: 100px 0 30px ;
        font-weight: 600;
    }
    .popular-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
    .popular-item{
        background: #ffffff;
        border-radius: 5%;
        padding-bottom: 17px;
    }
    .popular-item img{
        padding: 20px 20px 0;
    }
    .item-details{
        padding-left: 20px;
    }
    .item-title{
        color: #18191F;
        font-weight: 500;
        font-size: 28px;
        margin-top: 10px;
    }
    .item-price{
        color: rgba(0, 0, 0, 0.87);
        font-size: 24px;
        margin: 6px 0;
        font-weight: normal;
    }
    .fas.fa-star, .fas.fa-star-half-alt{
        color: #FB8200;
        font-size: 12px;
    }
    .far.fa-star, .ratings span{
        font-size: 12px;
    }
    .item-stock{
        color: #787885;
        font-size: 14px;
    }
    .alink {
        text-align: right;
        margin: 50px 0 100px;
    }
    .alink a{
        text-decoration: none;
        color: rgba(224, 44, 109, 0.87);
        font-weight: bold;
    }
    /*---------- Collection area end ---------- */


/*---------------
     Main Area End  
-------------------*/

/* -- Customer-review-area start  -- */
.customer-review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: rgba(236, 222, 228, 0.986);
    column-gap: 30px;
    padding: 100px 30px;
    color: #f1f1f1;
}
.review-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3A3A3A;
    font-weight: bold;
}
.review-details h2{
    color: #E02C6D;
    font-size: 2em;
}
.review-details img{
    width: 98px;
    height: 26px;
    margin-bottom: 20px;
}
.review{
    border-radius: 5%;
    background: #3A3A3A;
    padding: 100px 20px 50px;
    position: relative;
}
.review::before{
    background-image: url('../testimonial-quote.png');
    content: "";
    position: absolute;
    width: 43px;
    height: 38px;
    background-size: 43px;
    top: 40px;
    bottom: auto;
    left: 50px;
    right: auto;
    background-repeat: no-repeat;
}
.review-text{
    height: 180px;
    text-align: justify ;
    font-weight: normal;
}
.review .author{
    margin: 10px 0;
}
/* -- Customer-review-area end  -- */


/*---------------
     Footer Area Start  
-------------------*/
.footer-area{
    background: #0a0826;
    color: #fff;
    text-align: center;
    padding : 50px 0;
}
footer h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}
footer p{
    font-size: 14px;
    color: #D9DBE1;
    padding: 8px 0;
}
.social-icon .fab{
    margin: 17px 16px 50px ;
    font-size: 32px;
    color: #fff;
}
.social-icon .fab:hover{
    color: blue;
}
/*---------------
     Footer  Area End  
-------------------*/

 /* -------------------- 
    Media Query  
-------------------- */ 
    /* Tablet Device */ 
    @media only screen and (max-width:1024px){
        h1{
            font-size: 28px;
        }
        .header-banner{
            flex-direction: column;
            height: auto;
        }
        .banner-title::after{
            position: center;
        }
        #banner-left{
            order: 2;
            margin-bottom: 30px;
        }
        #banner-right{
            order: 1;
        }
        .sponsor{
            grid-template-columns: repeat(4,1fr);
        }
        .popular-items{
            grid-template-columns: repeat(2,1fr);
        }
        .customer-review{
            grid-template-columns: repeat(1,1fr);
            column-gap: 30px;
            padding: 30px;
        }
        .review{
            margin: 20px 0;
        }
        .review-text{
            height: auto;
        }
        .alink{
            margin-bottom: 40px;
        }

        /* Mobile  Device */ 
        @media only screen and (max-width:776px){
            .navigation{
                display: none;
            }
            .cart{
                display: block;
                display: flex;
                justify-content: flex-end;
                position: relative;
                top: -30px;
                color: #3A3A3A;
            }
            .sponsor{
                grid-template-columns: repeat(2,1fr);
            }
            .popular-items{
                grid-template-columns: repeat(1,1fr);
            }
            .alink{
                margin: 20px auto;
            }
        }
    }